.signin-submit-btn{
    margin-left: 24px;
    margin-right: 24px;
}
.signin-text{
    width: 100%;
    text-align: left;
    margin-top: 0px;
    font-family: noto-bold;
    font-size: 20px;
    margin-bottom: 36px;
}
.signin-small-text{
    width: auto;
    text-align: start;
    font-family: noto-regular;
    font-size: 16px;
    margin-bottom: 0px;
    
    flex-grow: 1;
    margin-top: 0px;
    display: inline;
}
.signin-alert{
    display: inline;
    font-size: 12px;
    color: #FE351E;
    font-family: noto-bold;
    flex-grow: 1;
    margin:0px;
    text-align: end;
}
.signin-alert.hide{
    display: none;
}
.signin-findpw{
    display: inline;
    font-size: 12px;
    color: #929292;
    font-family: noto-bold;
    margin:0px;
    text-align: end;
}
.signin-textbox{
    width: 100%;
    margin-bottom: 4px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.signin-id-input{
    width: 100%;
    box-sizing : border-box;
    margin-bottom: 16px;
    margin-top: 0px;
    padding:8px 12px;
    font-size: 16px;
    border-radius: 8px;
    border:1px solid #D1D1D1;
}
.signin-pw-input{
    width: 100%;
    box-sizing : border-box;
    margin-bottom: 16px;
    margin-top: 0px;
    padding:8px 12px;
    font-size: 16px;
    border-radius: 8px;
    border:1px solid #D1D1D1;
}
.contour-16margin{
    width: 100%;
    background-color: #D1D1D1;
    height: 1px;
    margin-top: 0px;
    margin-bottom: 16px;
}