.board-container{
    margin-bottom: 136px;
}
.board-text-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.createproject-text.board{
    flex-grow: 1;
    color: #020203;
    font-family: noto-medium;
}
.board-total-text{
    font-size: 28px;
    font-family: noto-medium;
    color: #7E47FF;
}
.floating-big-btn{
    display: block;
    width: 680px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #7E47FF;
    font-family: noto-medium;
    font-size: 16px;
    color: #fff;
    border-radius: 16px;
    text-align: center;
    border:1px solid #7C44FF;
    position:sticky;
    bottom: 32px;
}
.floating-big-btn-light{
    display: block;
    width: 680px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #F5F0FF;
    font-family: noto-medium;
    font-size: 16px;
    color: #7E47FF;
    border-radius: 16px;
    text-align: center;
    border:1px solid #F5F0FF;
    position:sticky;
    bottom: 32px;
}
.floating-big-btn-light:hover{
    background-color: #E2D6FF;
    transition: all ease 0.3s;
}
.floating-big-btn:hover{
    background-color: #6639CF;
    color: #CFCFCF;
    transition: all ease 0.3s;
}
.floating-big-btn.disabled{
    background-color: #CDCDD6;
    border: #707070;
    color: #fff;
}
.floating-big-btn.hide{
    display: none;
    transition: all ease 0.3s;
}
@media (max-width:640px) {
    .floating-big-btn{
        width: fill;
        bottom: 16px;
        /* right: 20px; */
        /* left: 20px; */
        
        /* transform: translateX(-5%); */
    }
    .floating-big-btn-light{
        width: fill;
        bottom: 16px;
        /* right: 20px; */
        /* left: 20px; */
        
        /* transform: translateX(-5%); */
    }
}