.create-content-submit-btn{
    font-size: 12px;
    font-family: noto-medium;
    margin: 0px;
    padding: 8px 12px;
    background-color: #7E47FF;
    border-radius: 8px;
    color: #fff;
    position:absolute;
    right: 0px;
}
.create-content-submit-btn:hover{
    background-color: #5832B3;
    transition: all ease 0.3s;
}
.create-content-submit-btn.disabled{
    font-size: 12px;
    font-family: noto-medium;
    margin: 0px;
    padding: 8px 12px;
    background-color: #CDCDD6;
    border-radius: 8px;
}
.create-content-title-input{
    font-size: 16px;
    font-family: noto-medium;
    color: #020203;
    width: 100%;
    padding: 0px 16px;
    margin-top: 16px;
    border : none;
    white-space: pre-wrap;
}
.create-content-title-input:focus{
    outline:none;
}