.main-container{
    padding-bottom: 120px;
}
.startBtnBig-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contour-thick{
    width: 100%;
    background-color: #EBEBF0;
    height: 2px;
    border-radius: 8px;
    margin-top: 32px;
}
.startBtnBig-btn-container{
    background-color: #F5F5F5;
    border-radius: 16px;
    margin-top: 24px;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
}
.startBtnBig-title{
    font-family: noto-medium;
    font-size: 28px;
    margin-top: 64px;
    margin-bottom: 0px;
    color: #020203;
    text-align: center;
}
.startBtnBig-innerbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    background-color: #FFC048;
    border-radius: 16px;
    width: fit-content;
    margin-top: 32px;
}
.startBtnBig-btn{
    font-size: 16px;
    font-family: noto-medium;
    margin: 0px;
    margin-right: 8px;
    color: #fff;
}
.startBtnBig-innerbox:hover{
    background-color: #B3852D;
    transition: all ease 0.3s;
}
.startBtnBig-subtitle{
    font-family: noto-regular;
    font-size: 16px;
    color: #3C3C47;
    margin-top: 16px;
    margin-bottom: 0px;
    text-align: center;
}
.startBtnBig-arrow{
    width: 9px;
    height: 15px;
    margin: 0px;
}
.startBtnBig-img{
    width: 320px;
    height: 150px;
    margin-top: 48px;
    margin-bottom: 64px;
}
.startBtnBig-img2{
    margin-bottom: 32px;
}
.startBtnBig-gif-web{
    width: 100%;
    display: block;
}
.startBtnBig-gif-mobile{
    display: none;
}
.wrapper {
    margin-top: 32px;
    width: 100%;
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}
  
.player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media (max-width : 640px) {
    .startBtnBig-gif-web{
        display: none;
    }
    .startBtnBig-gif-mobile{
        width: 100%;
        display: block;
    }
}