.main-container{
    padding-bottom: 120px;
}
.startBtnBig-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #3C3C47;
    padding-bottom: 32px;
}
.contour-thick{
    width: 100%;
    background-color: #EBEBF0;
    height: 2px;
    border-radius: 8px;
    margin-top: 32px;
}
.startBtnBig-btn-container{
    background-color: #F5F5F5;
    border-radius: 16px;
    margin-top: 24px;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
}
.startBtnBig-title-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E2D6FF;
    width: fill;
}
.startBtnBig-title{
    font-family: noto-bold;
    font-size: 32px;
    margin-top: 64px;
    margin-bottom: 0px;
    color: #020203;
    text-align: center;
}
.startBtnBig-btn{
    font-size: 16px;
    padding: 12px 20px;
    background-color: #7E47FF;
    border-radius: 8px;
    font-family: noto-medium;
    margin: 0px;
    margin-top: 32px;
    color: #fff;
    cursor: pointer;
}
.startBtnBig-subtitle{
    font-family: noto-regular;
    font-size: 16px;
    color: #3C3C47;
    margin-top: 16px;
    margin-bottom: 0px;
    text-align: center;
}
.startBtnBig-arrow{
    width: 9px;
    height: 15px;
    margin: 0px;
}
.startBtnBig-img{
    width: 232px;
    height: 246px;
    margin-top: 48px;
    margin-bottom: 0px;
}
.startBtnBig-img2{
    margin-bottom: 32px;
    width: 20px;
    height: 12px;
}
.startBtnBig-gif-web{
    width: 100%;
    display: block;
}
.startBtnBig-gif-mobile{
    display: none;
}
.startBtnBig-bottom-text{
    font-size: 28px;
    color: #fff;
    font-family: noto-bold;
    text-align: center;
    margin-top: 64px;
}
#startBtnBig-start-btn{
    margin:32px 24px;
    width: fill;
}
@media (max-width : 640px) {
    .startBtnBig-gif-web{
        display: none;
    }
    .startBtnBig-gif-mobile{
        width: 100%;
        display: block;
    }
}