.create-modal-text1{
    font-family: noto-bold;
    font-size: 20px;
    margin-bottom: 0px;
    color: #393C3B;
    width: fill;
    text-align: start;
}
.create-modal-text2{
    font-family: noto-regular;
    font-size: 16px;
    margin-top: 36px;
    margin-bottom: 0px;
    color: #393C3B;
    width: fill;
    text-align: start;
}
.create-modal-text3{
    font-family: noto-regular;
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 16px;
    color: #393C3B;
    width: fill;
    text-align: start;
}
.create-modal-value{
    color: #929292;
}
.create-modal-Btn{
    margin-bottom: 16px;
}
.create-modal-Btn{
    display: flex;
    flex-direction: row;
    width: fill;
}
.create-modal-button{
    width: 128px;
    flex-grow: 1;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    font-family: noto-bold;
    font-size: 16px;
}
.create-modal-button.no{
    margin-right: 12px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #7C44FF;
    color: #7C44FF;
}
.create-modal-button.yes{
    margin-left: 12px;
    background-color: #7C44FF;
    border: 1px solid #fff;
    border-radius: 8px;
    color: white;
}
.create-modal-button.no:hover{
    background-color: #CFCFCF;
}
.create-modal-button.yes:hover{
    background-color: #6639CF;
    border-color: #7C44FF;
    border-radius: 8px;
    color: #CFCFCF;
}
.create-modal-status-text{
    display: flex;
    flex-direction: row;
    width: fill;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 16px;
}
.create-modal-button-checklink{
    width:280px;
    background-color: #7C44FF;
    border-radius: 8px;
    border: 1px solid #7C44FF;
    color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: noto-regular;
    font-size: 16px;
    transition: all ease 0.3s;
}
.create-modal-button-checklink:hover{
    background-color: #6639CF;
    color: #CFCFCF;
}
.text-strong{
    color: #7C44FF;
}