.product-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
}
.product-card-innercontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.product-card-img{
    width: 128px;
    height: 128px;
    border-radius: 16px;
    margin:0px;
}
.product-card-name-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    padding-left: 12px;
    margin-top: 0px;
}
.product-card-price-box{
    text-align: end;
}
.product-card-brandname{
    font-family: noto-regular;
    font-size: 16px;
    color: #393C3B;
    margin: 0px;
    margin-right: 8px;
}
.product-card-name{
    font-family: noto-regular;
    font-size: 16px;
    color: #020203;
    margin: 0px;
}
.product-card-originprice{
    font-family: noto-regular;
    font-size: 12px;
    color: #9696A3;
    margin: 0px;
}
.product-card-discount_rate{
    font-family: noto-regular;
    font-size: 12px;
    color: #020203;
    margin: 0px;
}
.product-card-price{
    font-family: noto-medium;
    font-size: 20px;
    color: #7E47FF;
    margin: 0px;
}
.product-card-num-box{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.product-card-subtract{
    padding: 22px 16px;
}
.product-card-add{
    padding: 16px 16px;
}
.product-card-brandlogo{
    height: 28px;
    margin-top: 20px;
}
.product-card-product-count{
    /* padding: 16px 16px; */
    text-align: end;
    padding: 16px;
    border-radius: 16px;
    width: 18px;
    margin: 0px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    font-family: noto-regular;
    font-size: 16px;
    color: #929292;
}

@media (max-width:640px) {
    .product-card-innercontainer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        position: relative;
    }
    .product-card-name-box{
        margin-top: 8px;
        padding-left: 0px;
    }
    .product-card-num-box{
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
}