.project-link-title-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-top: 32px;
}
.project-link-innercontainer{
    flex-direction: column;
    flex-grow: 1;
    margin-left: 24px;
}
.project-link-img{
    width: 56px;
    height: 56px;
}
.project-link-title{
    font-size: 28px;
    font-family: noto-medium;
    margin: 0px;
    color: #020203;
    text-align: start;
}
.project-link-subtitle{
    font-size: 16px;
    font-family: noto-regular;
    margin: 0px;
    color: #9696A3;
    text-align: start;
}
.project-link-box{
    background-color: #F5F0FF;
    border-radius: 20px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    position: relative;
}
.project-link-big-text{
    font-size: 16px;
    font-family: noto-regular;
    margin: 0px;
    color: #020203;
    text-align: start;
    width: fill;
}
.project-link-small-text{
    font-size: 12px;
    font-family: noto-regular;
    margin: 0px;
    color: #9696A3;
    text-align: start;
    width: fill;
}
.project-link-copy-btn{
    background-color: #5930B8;
    border-radius: 16px;
    text-align: center;
    padding: 17px;
    justify-content: center;
    color: #fff;
    margin: 0px;
    margin-top: 32px;
    width: fill;
    font-family: noto-medium;
}
.project-link-copy-btn:hover{
    transform: scale(1.02);
    /* background-size: 102%; */
    
    transition: all ease 0.5s;
}
.project-link-copy-img{
    width: 15px;
    height: 16px;
    margin:0px;
    margin-right: 12px;
}
.project-link-dod-img{
    width: 52px;
    height: 88px;
    margin-top: 32px;
    margin-bottom: 4px;
}
.project-link-link-img{
    width: 56px;
    height: 56px;
    position: absolute;
    bottom: -36px;
    z-index: 8;
}
.project-link-google-img{
    width: 128px;
    height: 88px;
    margin-top: 4px;
    margin-bottom: 32px;
}
.project-link-manual-box{
    background-color: #F9F9FB;
    border-radius: 20px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    position: relative;
    margin-bottom: 16px;
}

.project-link-manual-img-pc{
    width: 100%;
    display: inline;
    margin-top: 96px;
    height: auto;
}
.project-link-manual-img-mobile{
    width: 100%;
    display: none;
    margin-top: 96px;
    height: auto;
}
#project-link-gohome{
    margin-bottom: 64px;
    font-family: noto-medium;
}

@media(max-width:640px){
    .project-link-manual-img-pc{
        width: 100%;
        height:auto;
        display: none;
    }
    .project-link-manual-img-mobile{
        width: 100%;
        height:auto;
        display: inline;
    }
}