.create-project-selectBox{
    padding:24px;
    background-color: #F5F5F5;
    border-radius: 8px;
    margin-top: 8px;
    margin-bottom: 16px;
    position: relative;
    border: 2px solid #F5F5F5;
}
.create-project-selectBox:hover{
    border:2px solid #7C44FF;
    transition: all ease 0.3s;
}
.create-project-selectBox.open{
    border:2px solid #7C44FF;
}
.create-project-arrow{
    position: absolute;
    right: 24px;
    bottom: 30px;
}
.create-project-dueDate-inline{
    text-align: start;
    border-color: #D1D1D1;
    background-color: #FFFFFF;
    font-family: noto-regular;
    font-size: 16px;
    border-radius: 8px;
    width: fit-content;
    padding: 4px 8px;
    margin: 0px;
    color: #929292;
    margin-right: 0px;
}
.create-project-box2{
    display: flex;
    flex-direction: row;
    font-family: noto-bold;
    font-size: 16px;
    color: #929292;
}
.create-project-card{
    display: flex;
    align-items: center;
}
.create-project-card-text{
    flex-grow: 1;
    text-align: start;
    font-family: noto-bold;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.create-project-icon{
    margin:0px;
}
.create-project-descriptionBox{
    width: fill;
}
.create-project-dueDate-description{
    text-align: start;
    font-family: noto-regular;
    font-size: 16px;
    color: #5B5B5B;
    
}
.create-project-gift-description{
    text-align: start;
    font-family: noto-regular;
    font-size: 16px;
    color: #5B5B5B;
}
.create-project-descriptionBox.hide{
    display: none;
}
.create-project-dueDate{
    text-align: start;
    border-color: #D1D1D1;
    background-color: #FFFFFF;
    font-family: noto-regular;
    font-size: 16px;
    border-radius: 8px;
    width: fit-content;
    padding: 4px 8px;
    margin: 0px;
    margin-right: 48px;
    color: #929292;
}
.create-project-dueDate.hide{
    display: none;
}
.create-project-numberOfGift.hide{
    display: none;
}
.createproject-text{
    font-family: noto-medium;
    font-size: 24px;
    text-align: start;
    width: fill;
    margin-top: 64px;
    margin-bottom: 64px;
}
.create-project-icon{
    margin-right: 8px;
}
.create-project-pay-btn{
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
    background-color: #7C44FF;
    color: #fff;
    font-family: noto-regular;
    font-size: 20px;
    border:1px solid #7C44FF;
    width: fill;
    margin-bottom: 64px;
}
.create-project-pay-btn:hover{
    background-color: #6639CF;
    color: #CFCFCF;
    transition: all ease 0.3s;
}
.create-project-pay-btn.disabled{
    background-color: #D1D1D1;
    border: #707070;
    color: #fff;
}
.create-project-totalprice-box{
    background-color: #D9C9FF;
    border-radius: 8px;
    border:1px solid #D9C9FF;
    padding: 16px 24px;
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
    margin-top: 0px;
}
.create-project-totalprice-box.hide{
    display: none;
}
.create-project-totalprice-text{
    font-family: noto-regular;
    font-size: 16px;
    text-align: start;
    color: #5B5B5B;
    flex-grow: 1;
    margin: 0px;
}
.create-project-totaldiscount-price{
    font-family: noto-bold;
}
.create-project-totalprice-innerbox{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0px;
}
.create-project-totaloriginprice{
    font-family: noto-regular;
    font-size: 16px;
    color: #929292;
    margin: 0px;
}
.create-project-totaldiscountrate{
    font-size: 12px;
    color:#7C44FF;
    margin: 0px;
}
.create-project-totalprice{
    font-family: noto-bold;
    font-size: 20px;
    color: #7C44FF;
    margin: 0px;
}
@media (max-width:480px) {
    .create-project-totalprice-box{
        background-color: #D9C9FF;
        border-radius: 8px;
        border:1px solid #D9C9FF;
        padding: 16px 24px;
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
        margin-top: 0px;
    }
    .create-project-totalprice-text{
        width: 100%;
    }
    .create-project-totalprice-innerbox{
        width: 100%;
    }
    /* .create-project-card{
        flex-direction: column;
        align-items: flex-start;
    } */
}