
.payment-name-submit-btn{
    background-color: #7C44FF;
    color:#fff;
    border:1px solid #7C44FF;
    border-radius: 8px;
    padding: 8px 16px;
    margin-top: 4px;
    font-size: 16px;
    font-family: noto-regular;
    margin-bottom: 20px;
    margin-left: 16px;
}
.payment-name-submit-btn:hover{
    background-color: #6639CF;
    color:#CFCFCF;
}

.payment-submit-btn{
    background-color: #7C44FF;
    color:#fff;
    border:1px solid #7C44FF;
    border-radius: 8px;
    padding: 12px 16px;
    width: fill;
    font-size: 20px;
    font-family: noto-regular;
    margin-top: 40px;
}

.payment-submit-btn:hover{
    background-color: #6639CF;
    color:#CFCFCF;
}
.payment-title{
    font-family: noto-medium;
    font-size: 24px;
    margin-top: 36px;
    width: fill;
    text-align: start;
}
.payment-price{
    color: #7C44FF;
}
.payment-subtitle{
    font-family: noto-regular;
    font-size: 16px;
    margin-bottom: 0px;
    width: fill;
    text-align: start;
}
.payment-text-box{
    width: 50%;
    display: flex;
    margin-top: 64px;
}
.payment-text1{
    font-family: noto-regular;
    font-size: 16px;
    flex-grow: 1;
    text-align: start;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
}
.payment-name-alert{
    font-family: noto-regular;
    font-size: 12px;
    color: #FE351E;
    text-align: end;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
}
.payment-name-alert.hide{
    display: none;
}
.payment-name{
    width: 244px;
    box-sizing : border-box;
    margin-bottom: 20px;
    margin-top: 4px;
    padding:8px 12px;
    font-size: 16px;
    border-radius: 8px;
    border:1px solid #D1D1D1;
}
.payment-name-container{
    display: flex;
    flex-direction: row;
    justify-items: start;
}

.payment-code-container{
    padding: 24px;
    background-color: #F5F5F5;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
}

.payment-code-pc{
    width: 30%;
    flex-grow: 1;
    margin-right: 12px;
}
.payment-code-mobile{
    width: 30%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin-left: 12px;
}
.payment-code-text1{
    font-family: noto-regular;
    font-size: 16px;
    color: #5B5B5B;
    margin-top: 0px;
    margin-bottom: 16px;
    text-align: start;
}
.payment-code-text2{
    font-family: noto-regular;
    font-size: 12px;
    color: #5B5B5B;
    margin-top: 12px;
    margin-bottom: 0px;
    text-align: start;
}

.payment-code-container.hide{
    display: none;
}
.payment-submit-btn.disabled{
    background-color: #D1D1D1;
    color: #fff;
    border-color: #D1D1D1;
}
.toss-link-btn{
    margin: 0px;
    border: 1px solid #7C44FF;
    background-color: #fff;
    border-radius: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    color: #7C44FF;
    font-family: noto-regular;
    font-size: 16px;
    text-align: center;
    transition:all ease 0.3s;
}
.toss-link-btn:hover{
    background-color: #CFCFCF;
}
.qrcode-img{
    width: 100%;
    height: 100%;
}
@media (max-width : 480px) {
    .payment-code-pc{
        display: none;
    }
}