.startBtnBig-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contour-thick{
    width: 100%;
    background-color: #F5F5F5;
    height: 12px;
    border-radius: 8px;
}
.startBtnBig-btn-container{
    background-color: #F5F5F5;
    border-radius: 16px;
    margin-top: 24px;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
}
.startBtnBig-title{
    font-family: noto-regular;
    font-size: 48px;
    margin-top: 64px;
    margin-bottom: 0px;
    color: #393C3B;
}
.startBtnBig-subtitle{
    font-family: noto-regular;
    font-size: 20px;
    color: #5B5B5B;
    margin-top: 32px;
    margin-bottom: 0px;
}
.startBtnBig-strong{
    color: #7C44FF;
}
.startBtnBig-img{
    width: 167px;
    height: 120px;
    margin-top: 56px;
    margin-bottom: 24px;
}
.startBtnBig-btn{
    width: 320px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: noto-regular;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid #7C44FF;
    background-color: #7C44FF;
    color: #fff;
    transition: all ease 0.3s;
    margin-bottom: 48px;
}
.startBtnBig-gif-web{
    width: 100%;
    margin-bottom: 48px;
    display: block;
}
.startBtnBig-gif-mobile{
    display: none;
}
@media (max-width : 480px) {
    .startBtnBig-gif-web{
        display: none;
    }
    .startBtnBig-gif-mobile{
        width: 100%;
        margin-bottom: 48px;
        display: block;
    }
}
.startBtnBig-btn:hover{
    background-color: #6639CF;
    color: #CFCFCF;
    
}