.result-modal-title{
    font-family: noto-medium;
    font-size: 20px;
    text-align: center;
    margin: 0px;
    width: 100%;
}
.result-modal-subtitle{
    font-family: noto-regular;
    font-size: 12px;
    text-align: center;
    margin:0px;
    width: 100%;
    margin-top: 8px;
}
.result-modal-img{
    width: 228px;
    height: 300px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.result-modal-img-animation{
    width: 270px;
    height: 360px;
    margin-top: 24px;
    margin-bottom: 24px;
}
.result-modal-img-win{
    width: 256px;
    height: 200px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.result-win-alert-text{
    font-family: noto-regular;
    font-size: 12px;
    color:#929292;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 100%;
    text-align: start;
}
.result-modal-plz-container{
    padding: 16px;
    background-color: #fff;
    border-radius: 8px;
    width: fill;
    margin-top: 32px;
    position: relative;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
.result-modal-plz-text{
    font-size: 12px;
    font-family: noto-regular;
    color: #020203;
    text-align: start;
    margin: 0px;
}
.result-modal-plz-img{
    width: 84px;
    height: 76px;
    margin: 0px;
    position: absolute;
    top:20px;
    right: 16px;
}
.result-modal-plz-innerbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    background-color: #7E47FF;
    border-radius: 12px;
    width: fit-content;
    margin-top: 16px;
}
.result-modal-plz-innerbox:hover{
    background-color: #5832B3;
    transition: all ease 0.3s;
}
.result-modal-plz-btn{
    font-size: 8px;
    font-family: noto-medium;
    margin: 0px;
    margin-right: 4px;
    color: #fff;
}
.result-modal-plz-arrow{
    width: 4px;
    height: 7px;
    margin: 0px;
}