.result-page-top-container{
    background: linear-gradient(90deg, #fff 0%, #fff 100%);
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 9;
    width: 100%;
}
.result-page-logo{
    width:79px;
    height: 24px;
    margin: 0px;
}
.result-page-container{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.contour.result-page{
    width: fill;
}
.result-btn{
    background-color:#7C44FF;
    border: 1px solid #7C44FF;
    border-radius: 16px;
    color: #fff;
    padding:16px;
    width: fill;
    font-family: noto-medium;
    font-size: 16px;
    transition: all ease 0.3s;
}
.result-btn.last{
    margin-bottom: 32px;
}
.result-btn:hover{
    background-color:#6639CF;
    color: #CFCFCF;
}
.result-page-title{
    font-family: noto-regular;
    font-size: 24px;
    /* width: 320px; */
    text-align: center;
    color: #393C3B;
    margin-top: 64px;
    margin-bottom: 0px;
}
.result-page-subtitle{
    font-family: noto-regular;
    font-size: 16px;
    color: #393C3B;
    margin-top: 8px;
    margin-bottom: 0px;
}
.result-page-dod-img{
    height: 120px;
    width: 167px;
    margin-top: 24px;
    margin-bottom: 0px;
}
.result-page-dod-img.forbidden-page{
    height: 100px;
    width: 138px;
    margin-top: 32px;
    margin-bottom: 40px;
}
.result-page-dod-img.invalid-page{
    height: 100px;
    width: 100px;
    margin-top: 32px;
    margin-bottom: 40px;
}
.result-page-text{
    font-family: noto-regular;
    font-size: 12px;
    color: #929292;
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: start;
}
.result-page-text-alarm{
    font-family: noto-regular;
    font-size: 12px;
    color: #FF0000;
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: start;
}
.noHover{
    pointer-events: none;
}
.result-page-button-container{
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    width: fill;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:12px;
    margin-bottom: 16px;
}
.result-page-content{
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.result-page-input-container{
    
    width: 320px;
}
.result-page-button-container-violet{
    background-color: #E2D6FF;
    border-radius: 12px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    width: fill;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:12px;
    margin-bottom: 16px;
}
.result-page-button-text{
    font-size: 16px;
    font-family: noto-regular;
    color: #020203;
    margin: 0px;
    text-align: start;
    flex-grow: 1;
}
.result-page-button-icon{
    width: 18px;
    height: 18px;
}