.dod-navbar{
    background: linear-gradient(90deg, #fff 0%, #fff 100%);
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}
.dod-navbar-container{
    width: 680px;
    display: flex;
    /* justify-content: start; */
}

.dod-navbar-logo {
    color: #fff;
    justify-self: flex-start;
    margin-left: 0px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }
  .dod-navbar-logo-icon{
      
    width:79px;
    height: 24px;
  }
  .dod-title{
      flex: none;
      font-family: noto-bold;
      font-size: 16px;
      color: #5B5B5B;
  }
  .login-btn{
      font-size: 16px;
      font-family: noto-medium;
      color: #393C3B;
      padding-left: 16px;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-right: 0px;
  }
  .dod-menu-icon{
      flex: none;
      margin-left: auto;
      margin-right: 0px;
  }
  .fas{
      width: 32px;
      height: 32px;
  }
  .dod-menu-icon.hide{
      display: none;
  }
  .dod-login-icon.hide{
      display: none;
  }

  @media (max-width:640px) {
    .dod-navbar-container{
        width: 100%;
    }
  }